:root {
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 50%);
    --color-black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--color-yellow);
}

.content-card {
    max-width: 350px;
    padding: 20px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 9px 9px 0 1px var(--color-black);
    border: 1px solid var(--color-black);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.content-card:hover {
    box-shadow: 12px 12px 0 3px var(--color-black);
}

.content-card__image {
    width: 100%;
    border-radius: 12px;
}

.content-card__category {
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    background: var(--color-yellow);
    padding: 6px 10px;
    border-radius: 3px;
    margin-top: 20px;
}

.content-card__date {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}

.content-card__title {
    font-size: 22px;
    font-weight: 800;
    margin: 20px 0;
    color: var(--color-black);
    transition: 0.3s ease-in-out;
}

.content-card:hover .content-card__title {
    color: var(--color-yellow);
}

.content-card__description {
    color: var(--color-grey);
    line-height: 23px;
}

.content-card__author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.content-card__author-image {
    width: 35px;
}

.content-card__author-name {
    font-size: 14px;
    font-weight: 800;
    color: var(--color-black);
}